@model Interclasse.Models.Juiz
@{
    ViewData["Title"] = $"Juiz {Model.Nome}";
}
<h1>@ViewData["Title"]</h1>

<p><b>Id: </b>@Model.Id</p>
<p><b>Nome: </b>@Model.Nome</p>
<p><b>Esporte: </b>@Model.Esporte</p>
<p><b>Quadra: </b>@Model.Quadra</p>